{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
        <!-- Container for editing a comment -->
        <div class="col-md-4 card mb-4  mt-3 offset-md-3 ">
            <div class="card-body">
                <h3>Update your comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Update Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}