{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Tips Entries Column -->
        <div class="col-10 mt-3 offset-md-1">
            <div class="row">
                {% for tipspost in tipspost_list %}
                <div class="col-md-6">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in tipspost.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dochkwthb/image/upload/v1667923780/golf_instructor_cltelc.jpg" alt="Placeholder Image">
                                {% else %}
                                <img class="card-img-top" src=" {{ tipspost.featured_image.url }}" alt="Featured Image">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Written by: {{ tipspost.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' tipspost.slug %}" class="post-link">
                                <h2 class="card-title">{{ tipspost.title }}</h2>
                                <p class="card-text">{{ tipspost.get_part_of_game_display }} Game</p>
                            </a>
                            <hr>
                            <p class="card-text likes text-muted h6">{{ tipspost.created_on}} <i class="far fa-heart likes"></i>
                                {{ tipspost.number_of_likes }}</p>
                            <div class="col-2">
                                {% with tipspost.comments.count as total_comments %}
                                <strong class="text-secondary text-muted"><i class="far fa-comments"></i>
                                    <!-- Our total_comments variable -->
                                        {{ total_comments }}
                                </strong>
                                {% endwith %}
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}